.login fieldset {
	margin-top: 1em;
	margin-right: 0pt;
	margin-bottom: 1em;
	margin-left: 0pt;
	border: none;
}
.login legend {
	color: gray;
	text-align: center;
	width: 100%;
	padding-bottom: 10pt;
	font-weight: bold;
}
.login fieldset div
{
	margin-bottom: 0.5em;
	padding-top: 0pt;
	padding-right: 0pt;
	padding-bottom: 0pt;
	padding-left: 0pt;
	display: block;
}
.login fieldset label
{
	float: left;
	width: 100px;
	padding-top: 0pt;
	padding-right: 1em;
	padding-bottom: 0pt;
	padding-left: 1em;
	text-align: right;
	color: gray;
}
div.login {
	display: table;
}

div.login_error
{
	color: red;
	text-align: center;
}