#content table
{
	border: 1px;
	border-style: solid;
	width: 100%;
	/*font-size: inherit;*/
}
#content tr.odd
{
}
#content tr.even
{
        background-color: #393939;
}
#content tr:first-child
{
	background-color: #585858;
}
