div.header {
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, left bottom, from(#00f), to(#1A1A1A));
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(top, #00f, #1A1A1A);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#1A1A1A);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF0000FF, endColorstr=#1A1A1A)";
}
.header p {
	font: bold italic 120% serif;
}
div.status {
	text-align: right;
	position: absolute;
	top: 10px;
	right: 40px;
	color: #FFFFFF;
}
